@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
@import url('https://unpkg.com/buefy/lib/buefy.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/themes/prism.min.css');

// Import Bulma's core
@import 'bulma/sass/utilities/initial-variables';

$family-sans-serif: 'Nanum Gothic', Arial, Helvetica, sans-serif;
$family-primary: $family-sans-serif;

// Import Bulma and Buefy styles
@import 'bulma/bulma';

body {
  line-height: 1.15;
  background-color: #d8d8d8;
  height: 100%;
  min-height: 100vh;
}
